* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F7;
    border: 1.2rem white solid;
    display: flex;
    flex-flow: row nowrap;
}

.left-section {

    width: 50rem;
    height: 100%;
    border-right: .2rem white solid;
    margin-left: 2.1rem;
    display: block;
}

.left-section .logo{
    width: 6rem;
    height: auto;
    margin-top: 2.6rem;
}

.intro {
    margin-top: 5.2rem;
    margin-bottom: 0rem;
    line-height: 26px;
    margin-right: 1rem;

    /* font-kerning: auto; */
}

.why {
    padding-top: 2.6rem;
    line-height: 26px;
    margin-right: 1rem;

}

h1 {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 2.6rem;
    /* text-transform: uppercase; */
    line-height: 26px;
    margin-right: 1rem;
    margin-bottom: 0;
    color: rgb(155, 155, 155);
}

.based {
    padding-top: 2.6rem;
    line-height: 26px;
    margin-right: 1rem;
    display: block;

}

.based a {
    padding-top: 2.6rem;
    display: block;
    line-height: 26px;
    text-decoration: underline;
    color: black;
}

.learning-process, .based, p {

    line-height: 26px;
    bottom:0;
    margin-right: 1rem;

}

.goal p {
    line-height: 26px;
    bottom:0;
    margin-right: 0rem;
}

.social-icons img {
    margin-right: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
}


.social-icons {
    position: absolute;
    width: 6rem;
    height: 1.0rem;
    bottom: 3.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.project-section {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-flow: column;

}

.elements-project {
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.ref {
    width: auto;
    height: auto;
    margin-left: 16%;
    margin-right: 16%;
    border: .8rem white solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1 px green solid;
}

.project-quote {
    margin-top: 2.6rem;
    display: block;
    position: relative;
    text-align: center;

}

.arrows {
    width: 2rem;
    height: auto;
    margin: 8rem;
    position: relative;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


.project-quote p {
    line-height: 26px;
    bottom:0;
    margin-right: 0rem;
    font-weight: bolder;
}