* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

.background {
    width: 100vw;
    height: auto;
    background-color: #F6F6F7;
    border: 1.2rem white solid;
    margin: 0rem;
    display: flex;
    flex-flow: row nowrap;
}

.left-section {
    position: relative;
    width: 100%;
    height: auto;
    /* border-right: .2rem white solid; */
    margin-left: 0;
    padding-left: 0;
    display: block;
}

.left-section .logo{
    position: relative;
    width: 6rem;
    height: auto;
    margin-top: 2.6rem;
    margin-left: 1.5rem;
}

.intro {
    position: relative;
    line-height: 26px;
    margin-top: 5.2rem;
    margin-bottom: 0rem;
}

.intro p {
    position: relative;
    line-height: 26px;
    margin-right: 0rem;
    padding-left: 2.1rem; 
}

.why {
    position: relative;
    line-height: 26px;
    padding-top: 2.6rem;
    padding-bottom: 0rem;
}

.why p {
    position: relative;
    line-height: 26px;
    margin-right: 1rem;
    padding-left: 2.1rem; 
}

.learning-process {
    position: relative;
    line-height: 26px;
}

.learning-process p {
    position: relative;
    line-height: 26px;
    margin-right: 1rem;
    padding-left: 2.1rem; 
}

.goals {
    position: relative;
    line-height: 26px;
}

.goals p {
    position: relative;
    line-height: 26px;
    margin-right: 1rem;
    padding-left: 2.1rem; 
}

.based {
    position: relative;
    line-height: 26px;
    padding-top: 2.6rem;
}

.based p {
    position: relative;
    line-height: 26px;
    margin-right: 1rem;
    padding-left: 2.1rem; 
}

.based a {
    position: relative;
    padding-left: 2.1rem; 
    padding-bottom: 5.2rem;
    display: block;
    line-height: 26px;
    text-decoration: underline;
    color: black;
}

h1 {
    position: relative;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 2.6rem;
    line-height: 26px;
    margin-right: 1rem;
    margin-left: 0rem;
    padding-left: 2.1rem; 
    margin-bottom: 0;
    color: rgb(155, 155, 155);
}

.social-icons img {
    position: relative;
    margin-right: 1.2rem;
    margin-left: 0rem;
    padding-left: 0rem; 
    width: 2.4rem;
    height: 2.4rem;    
}

.social-icons {
    position: relative;
    width: 6rem;
    height: 1.0rem;
    margin-left: 2.1rem;
    padding-top: 5.2rem;
    /* bottom: 3.8rem; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.project-section {
    display: none;
}

.project-section-mediumscreen {
    display: none;
}


.project-section-smallscreen {
    width: 100%;
    position: relative;
    margin-top: 2.6rem;
    display: block;
}

.elements-project {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.ref {
    width: 90%;
    height: auto;
    border: .8rem white solid;

}

.project-quote {
    margin-top: 2.6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
/* display: none; */
}

.arrows {
    position: relative;
    width: 2rem;
    height: auto;
    margin: 2.6rem 4rem;

}

img {
    display: block;
    width: 100%;
    height: auto;
}


.project-quote p {
    width: auto;
    height: auto;
    font-weight: 400;

}

.center-ref {
    line-height: 26px;
    font-size: 1.2rem;
    bottom:0;
    margin-right: 0rem;
    font-weight: bolder;
}